@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e96670;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.stats-container {
    color: rgb(31, 31, 31);
    background: rgba(255, 255, 255, 0.3);
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.178);
    min-width: 30%;
}

.stats-container h1 {
    font-size: 32px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.statistics{
    margin: 0 auto;
    width: 500px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.score, .percentage, .time, .accuracy, .correct-answers {
    font-size: 22px;
    margin: 10px 0;
    font-weight: bold;
}

span{
    color: rgb(179, 62, 62);
}

.emoji {
    font-size: 40px;
}

.retry-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 14px 24px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    background: linear-gradient(60deg, red, orange, rgb(35, 235, 35), rgb(36, 36, 224), violet);
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.retry-btn:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .stats-container {
        padding: 15px;
        width: 90%;
    }

    h1 {
        font-size: 22px;
    }

    .statistics p {
        font-size: 16px;
    }

    .retry-btn {
        font-size: 16px;
        padding: 10px;
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    .stats-container h1 {
        font-size: 20px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }

    .stats-container {
        padding: 10px;
        width: 95%;
    }

    .emoji {
        font-size: 20px;
    }

    h1 {
        font-size: 16px;
    }

    .statistics{
        width: 300px;
    }

    .statistics p {
        font-size: 12px;
    }

    .retry-btn {
        font-size: 14px;
        padding: 8px;
    }
}