@font-face {
  font-family: Fifaks; 
  src: url("../fonts/CustomFontTtf12H20.woff2") format("woff2"),
  url("../fonts/CustomFontTtf12H20.woff") format("woff"),
  url("../fonts/CustomFontTtf12H20.ttf") format("ttf");
  }
p {
  font-family: Fifaks;
}
font {
  font-family: Fifaks;
}
a {
  color: #ffffff;
}
 
button {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 10px 30px;
  margin: 10px 20px;
  font-family: 'Fifaks';
  text-transform: uppercase;
  letter-spacing: 4px;
  background-size: 200% auto;
}

.colortext {
  color: black; 
}

.timer__items {
  color: #ffbf00;
  font-family: 'Fifaks';
  display: flex;
  font-size: 48px;
}
.timer__item {
  position: relative;
  min-width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 15px;
  text-align: center;
}
.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 14px;
}
.timer__item:not(:last-child)::after {
  content: ':';
  position: absolute;
  right: -15px;
}