@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-image: url('https://m.kontrakty.ua/images/stories/nikolaev24.com.ua.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}
.quiz-container {
    background: rgba(255, 255, 255, 0.6);
    max-width: 800px;
    width: 550px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    backdrop-filter: blur(10px);
}
.timer {
    font-size: 20px;
    font-weight: bold;
    color: #ff4757;
}
.question {
    font-size: 24px;
    margin-bottom: 20px;
}
.answer {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    background: #5ea5f1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
    transition: background 0.3s, transform 0.2s;
}
.answer:hover {
    background: #3790f0;
    transform: scale(1.05);
}
.correct {
    background: #28a745 !important;
}
.incorrect {
    background: #dc3545 !important;
}