/* head1 ------------------------------------------------------------ */

.st1{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    height: 12.5rem;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

.logo{
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-bottom: 10px;
}

.logo::before{
    content: "";
    position: absolute;
    left: -3rem;
    top: .7rem;
    width: 2rem;
    height: 2rem;
    background: white;
}

/* head2 ------------------------------------------------------------ */

.header .head2{
    display: flex;
}

.header .head2 .list1{
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 500;
    width: 70rem;
}

.header .head2 .list1 li{
    cursor: pointer;
    border-bottom: 2px solid transparent;
    padding-bottom: 10px;
}

.header .head2 .list1 li:hover{
    border-bottom: 2px solid white;
    transition: all .3s ease-in-out; 
}

/* head3 ------------------------------------------------------------ */

.header .head3{
    display: flex;
    justify-content: space-between;
    width: 26rem;
    padding-bottom: 10px;
}

.header .head3 .sign-in{
    text-transform: uppercase;
    font-size: 2rem;
    color: black;
    padding: 5px 25px;
    background: white;
    font-weight: 500;
}

.header .head3 .burger-menu{
    height: 40px;
    width: 70px;
    cursor: pointer;
}

/* main1 ------------------------------------------------------------ */

.st1 .main1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex: 1;
    justify-items: center;
    font-family: 'Krub', sans-serif;
    position: relative;
}

.st1 .main1 .main1-s1 .main1-txt1{
    font-size: 20rem;
    font-weight: 700;
}

.st1 .main1 .main1-s1 .main1-txt1 span{
    color: var(--color-danger);
}

.st1 .main1 .main1-s1 .main1-txt2{
    font-size: 5rem;
    letter-spacing: 4px;
    transform: rotate(-90deg);
    position: absolute;
    left: 4.2rem;
    top: 40rem;
}

.st1 .main1 .main1-s1 .main1-txt2 span{
    font-weight: 700;
}

.st1 .main1 .main1-s1 .main1-txt3{
    font-size: 2rem;
    font-weight: 600;
    position: absolute;
    left: 40rem;
    top: 45rem;
}

.st1 .main1 .main1-s1 .main1-txt3::before{
    content: "";
    position: absolute;
    left: -2.5rem;
    top: .5rem;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
}

/* s2  ------------------------------------------------------------*/

.st1 .main1 .main1-s2{
    align-self: end;
}

.st1 .main1 .main1-s2 .man{
    height: 80rem;
}

.st1 .main1 .main1-s2 .arrow-l, .st1 .main1 .main1-s2 .arrow-r{
    height: 3rem;
    position: absolute;
    bottom: 6rem;
    cursor: pointer;
}

.st1 .main1 .main1-s2 .arrow-l{
    right: 50rem;
}

.st1 .main1 .main1-s2 .arrow-r{
    left: 50rem;
}

/* s3 ------------------------------------------------------------ */

.st1 .main1 .main1-s3{
    align-self: center;
}

.st1 .main1 .main1-s3 .main1-info{
    width: 40rem;
    height: 30rem;
}

.st1 .main1 .main1-s3 .main1-info .info-txt{
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.st1 .main1 .main1-s3 .main1-info span{
    display: block;
    font-size: 2rem;
    font-weight: 500;
    width: 35rem;
    padding-top: 2rem;
    text-align:justify;
}

.st1 .main1 .main1-s3 .main1-info .info-btn{
    padding-top: 40px;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.st1 .main1 .main1-s3 .main1-info .info-btn .btn-start,
.st1 .main1 .main1-s3 .main1-info .info-btn .btn-more{
    text-transform: uppercase;
    padding: 18px 35px;
    transition: all .3s ease-in-out;
}


.st1 .main1 .main1-s3 .main1-info .info-btn .btn-start:hover,
.st1 .main1 .main1-s3 .main1-info .info-btn .btn-more:hover{
    background: var(--color-danger);
}

.st1 .main1 .main1-s3 .add-txt{
    padding: 18px 55px 18px 30px;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff; 
    font-size: 2rem;
    position: absolute;
    right: 0;
    top: 5rem;
}

.st1 .main1 .main1-s3 .add-txt h1{
    letter-spacing: 3px;
    font-weight: 600;
}

.st1 .main1 .main1-s3 .add-txt h1 span{
    font-size: 4rem;
    font-weight: 700;
}

/* middle section ------------------------------------------------------------ */

.middle-s{
    height: 22rem;
    box-shadow: var(--bx-sh);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.middle-s .middle-1,.middle-s .middle-2, .middle-s .middle-3{
    display: flex;
    align-items: center;
}

.middle-s .middle-1 .number,.middle-s .middle-2 .number, .middle-s .middle-3 .number{
    font-family: 'Oswald', sans-serif;
    font-size: 8rem;
}

.middle-s .middle-1 .number small,.middle-s .middle-2 .number small, .middle-s .middle-3 .number small{
    color: var(--color-danger);
}

.middle-s .middle-1 .wrapp,.middle-s .middle-2 .wrapp, .middle-s .middle-3 .wrapp{
    font-family: 'Krub', sans-serif;
    margin-left: 2rem;
    font-size: 3rem;
}

.middle-s .middle-1 .b-txt,.middle-s .middle-2 .b-txt, .middle-s .middle-3 .b-txt{
    font-weight: 700;
}

/* st2  ------------------------------------------------------------ */

.st2{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    font-family: 'Krub', sans-serif;
}

.st2 .back1{
    position: absolute;
    top: 26rem;
    z-index: -1;
}

.st2 .accept-d{
    display: flex;
    align-items: center;
    height: 70rem;
}

.st2 .accept-d .accept{
    text-transform: uppercase;
    text-align: center;
    font-size: 9rem;
    font-weight: 700;
}

.st2 h1 span{
    font-weight: 300;
}

.st2 .arrow-d{
    position: absolute;
    bottom: 10rem;
    cursor: pointer;
}

.st2 .explore-about{
    display: flex;
    width: 90%;
    font-size: 6rem;
    font-weight: 700;
    justify-content: space-between;
    color: var(--color-dark);
}

.absolute-txt, .absolute-txt1{
    position: absolute;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.absolute-txt{
    top: 30rem;
    left: -6rem;
    transform: rotate(-90deg);
}

.absolute-txt1{
    top: 30rem;
    right: -6rem;
    transform: rotate(90deg);
}

.absolute-txt::before, .absolute-txt1::before{
    content: '';
    width: 1.8rem;
    height: 1.8rem;
    background-color: #fff;
    position: absolute;
    left: -4rem;
    top: .4rem;
}

/* st3 ------------------------------------------------------------ */

.st3{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Krub', sans-serif;
    position: relative;
    align-items: center;
    padding: 0 5rem;
}

.st3 .st3-st1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.st3 .st3-st1 .st3-txt1{
    font-size: 16rem;
    font-weight: 700;
}

.st3 .st3-st1 .st3-txt1 span{
    font-size: 5rem;
    font-weight: 300;
    letter-spacing: 8px;
}

.st3 .st3-st1 .st3-txt2{
    letter-spacing: 3px;
    font-weight: 700;
    position: relative;
}

.st3 .st3-st1 .st3-txt2 span{
    font-size: 3.2rem;
    font-weight: 700;
}

.st3 .st3-st1 .st3-txt2::before{
    content: "";
    position: absolute;
    left: -3.5rem;
    top: .3rem;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
}

.st3 .st3-st2{
    width: 100%;
    padding-top: 10rem;
    display: flex;
    justify-content: space-evenly;
}

.st3 .st3-st2 .card{
    width: 29rem;
    height: 37.5rem;
    border: 3px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.st3 .st3-st2 .card .card-txt{
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 3px;
    position: relative;
}

.st3 .st3-st2 .card .card-txt::before{
    content: '';
    position: absolute;
    width: 8rem;
    left: 6.5rem;
    bottom: -2rem;
    height: 2px;
    background: var(--color-danger);
}

.st3 .st3-st2 .card .card-txt span{
    color: var(--color-danger);
}

.st3 .st3-st2 .card p{
    padding-top: 4rem;
    text-align:justify;
    font-weight: 600;
    width: 23rem;
}

.st3 .st3-st2 .card .btn{
    margin-top: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    background: var(--color-danger);
}

.st3 .st3-st2 .card .btn{
    text-transform: uppercase;
    padding: 13px 25px;
    transition: all .3s ease-in-out;
}

.st3 .st3-st2 .card .btn:hover{
    background: #fff;
    color: black;
}

.st3 .st3-st2 .card .number{
    width: 4rem;
    height: 4rem;
    background: #fff;
    color: black;
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
}

.st3 .st3-st3{
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.st3 .st3-st3 h1{
    font-size: 3rem;
    font-weight: 700;
}

.st3 .st3-st3 img{
    margin-left: 5rem;
    width: 7rem;
    cursor: pointer;
}

/* st4 ------------------------------------------------------------ */

.st4{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 130vh;
    font-family: 'Krub', sans-serif;
    justify-items: center;
}

.st4 .st4-s1{
    padding-top: 20rem;
}

.st4 .st4-info{
    display: flex;
    flex-direction: column;
    width: 50rem;
}

.st4 .st4-info .about-us{
    font-size: 8rem;
    font-weight: 700;
}

.st4 .st4-info .about-us span{
    font-weight: 300;
    letter-spacing: 5px;
    color: var(--color-danger);
}

.st4 .st4-info .info{
    font-weight: 600;
    font-size: 2rem;
    padding: 2rem 0 6rem 0;
}

.st4 .st4-info .st4-info-add{
    width: 90%;
    height: 6rem;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    letter-spacing: 1px;
    padding-left: 3rem;
}

.st4 .st4-info .st4-info-add .info-span{
    font-weight: 700;
    font-size: 1.4rem;
    display: block;
    position: relative;
}

.st4 .st4-info .st4-info-add .info-span::before{
    content: '';
    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
    left: -3rem;
    top: .2rem;
    background: var(--color-danger);
}

.st4 .st4-info .btn{
    margin-top: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    background: var(--color-danger);
    text-transform: uppercase;
    padding: 20px 25px;
    transition: all .3s ease-in-out;
    text-align: center;
    width: 15rem;
}

.st4 .st4-info .btn:hover{
    background: #fff;
    color: black;
}

.st4 .st4-s2 img{
    width:60rem;
    padding-top: 20rem;
}

.st4 .back1{
    position: absolute;
    left: 0;
    top: 10rem;
}

.st4 .back2{
    position: absolute;
    right: 0;
    bottom: -20rem;
}

.st4 .circle1{
    position: absolute;
    left: 70rem;
    bottom: 20rem;
}

.st4 .circle2{
    position: absolute;
    right: 30rem;
    top: 10rem;
}

/* st5 --------------------------------------------*/

.st5{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
    font-family: 'Krub', sans-serif;
    justify-items: center;
    align-items: center;
    overflow: hidden;
}

.st5 .st5-info{
    display: flex;
    flex-direction: column;
    width: 50rem;
}

.st5 .st5-info .about-us{
    font-size: 8rem;
    font-weight: 700;
}

.st5 .st5-info .info{
    font-weight: 600;
    font-size: 2rem;
    padding: 2rem 0 4rem 0;
}

.st5 .st5-info .btn{
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    background: var(--color-danger);
    text-transform: uppercase;
    padding: 16px 23px;
    transition: all .3s ease-in-out;
    text-align: center;
    width: 15rem;
}

.st5 .st5-info .btn:hover{
    background: #fff;
    color: black;
}

.st5 .st5-info .about-us span{
    font-weight: 300;
    letter-spacing: 5px;
    color: var(--color-danger);
}

.st5 .explore{
    position: absolute;
    right: -28rem;
    top: 33rem;
    font-size: 15rem;
    font-weight: 700;
    transform: rotate(-90deg);
    color: var(--color-dark);
}

.st5 .circle1{
    position: absolute;
    right: 20rem;
    bottom: 5rem;
}

/* st6 ----------------------------- */

.st6{
    position: relative;
    height: 100vh;
    font-family: 'Krub', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.st6 .man3{
    height: 70rem;
    cursor: pointer;
}

.st6 .left-b{
    transform: rotate(-90deg);
    display: flex;
    position: absolute;
    right: 0;
}

.st6 .left-b h1{
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.st6 .left-b img{
    transform: rotate(-90deg);
    margin-left: 5rem;
    height: 8rem;
}

.st6 .right-b{
    transform: rotate(-90deg);
    display: flex;
    position: absolute;
    left: 0;
}

.st6 .right-b h1{
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: end;
}

.st6 .right-b img{
    transform: rotate(90deg);
    margin-right: 5rem;
    height: 8rem;
}

/* st7 ------------------------------------------------ */

.st7{
    position: relative;
    height: 100vh;
    font-family: 'Krub', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.st7 .st7-s1 h1{
    font-size: 12rem;
    font-weight: 700;
    line-height: 7rem;
    text-align: center;
}

.st7 .st7-s1 h1 span{
    font-size: 6rem;
    font-weight: 300;
    color: var(--color-danger);
    letter-spacing: 3px;
}

.st7 .st7-s2{
    padding-top: 10rem;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.st7 .st7-s2 .card-info{
    width: 26rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.st7 .st7-s2 .card-info .name{
    padding: 2rem 0 0 0;
    font-size: 2rem;
    font-weight: 700;
}

.st7 .st7-s2 .card-info .stars{
    padding: 2rem 0 0 0;
    cursor: pointer;
}

.st7 .st7-s2 .card-info .desc{
    text-align: justify;
    padding: 1.5rem 0;
    position: relative;
}

.st7 .st7-s2 .card-info .desc::before{
    content: "";
    background: url('../img/quote-1.png') no-repeat;
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: -2.2rem;
    top: 1rem;
}

.st7 .st7-s2 .card-info .desc::after{
    content: "";
    background: url('../img/quote-2.png') no-repeat;
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: -1rem;
    bottom: 0;
}

.st7 .st7-s2 .card-info .stars span + span{
    padding-left: 1rem;
}

.st7 .st7-s3{
    display: flex;
    flex:1;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.st7 .st7-s3 .arrow-r{
    transform: rotate(180deg);
}

.st7 .st7-s3 img{
    height: 4rem;
    cursor: pointer;
}

/* st8-------------------------------------------- */


.st8{
    position: relative;
    height: 100vh;
    font-family: 'Krub', sans-serif;
    display: flex;
    justify-content: end;
    align-items: center;
}

.st8 img{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100rem;
    z-index: -1;
}

.st8 .info-end{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 42rem;
    margin-right: 30rem;
}

.st8 .info-end .about-us{
    font-size: 6rem;
    font-weight: 700;
    line-height: 7rem;
    text-align: center;
    line-height: 6rem;
}

.st8 .info-end .about-us span{
    font-size: 4rem;
    font-weight: 300;
    color: var(--color-danger);
    letter-spacing: 5px;
}

.st8 .info-end .info{
    padding-top: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.st8 .info-end .btn{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    background: var(--color-danger);
    text-transform: uppercase;
    padding: 16px 29px;
    transition: all .3s ease-in-out;
    text-align: center;
    border: none;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
}

.st8 .info-end .btn:hover{
    background: #fff;
    color: black;
}

.st8 form {
    font-family: 'Krub', sans-serif;
    font-weight: 700;
    max-width: 400px;
    margin: 0 auto;
}
  
input[type="text"],
input[type="email"],
textarea {
    font-family: 'Krub', sans-serif;
    width: 100%;
    padding: 2rem;
    border: 2px solid var(--color-danger);
    background-color: transparent; 
    margin-bottom: 1rem;
    color: #fff;
    resize: none;
    margin-top: 2rem;
    outline: none; 
}

#message{
    height: 15rem;
}

/* st9--------------------------------------------- */

.st9{
    position: relative;
    height: 80vh;
    font-family: 'Krub', sans-serif;
    display: flex;
    background: var(--color-danger);
}

.st9 .st9-s1{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.st9 .st9-s2{
    padding: 0 10rem 0 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.st9 .st9-s1 .info-st9 .title{
    font-size: 5rem;
    font-weight: 700;
    border-bottom: 2px solid #fff;
}

.st9 .st9-s1 .info-st9 small{
    display: block;
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 300;
    line-height: 4rem;
}

.st9 .st9-s2 .title{
    font-size: 4rem;
    font-weight: 700;
    text-align: end;
    position: relative;
}

.st9 .st9-s2 .title::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 6.5rem;
    left: 0rem;
    bottom: 1.2rem;
    background: #fff;
}

.st9 .st9-s2 .msg1{
    margin-top: 4rem;
    font-family: 'Krub', sans-serif;
    width: 60%;
    padding: 1rem;
    border: 2px solid #fff;
    background-color: transparent; 
    margin-bottom: 10px;
    color: #fff;
    resize: none;
    outline: none; 
}

.st9 .st9-s2 .socials{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
}

.st9 .st9-s2 .socials img{
    cursor: pointer;
}

.st9 .st9-s2 .socials span{
    font-size: 3rem;
}