*{
    box-sizing: border-box;
    transition:all 0.3s ease-in-out;
}

body {
    background: linear-gradient(to right, #e6d798 0%, #ff99cc 100%);
    height: 100%;
    width: 100%;
}

.box {
    width: 900px;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 3px gray;
    margin-top: 30px;
    margin-bottom: 30px;
    resize: none;
    border: none;
    padding: 20px;
    flex-direction:column;
    background-color: aliceblue;
}

h3{
    letter-spacing: 1px;
    color: white;
    font-weight: 700;
}

.lavra{
    width: 400px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.lavra_1{
    width: 300px;
    height: 400px;
    margin-bottom: 20px;
    border-radius: 30px;
}

p{
    position: relative;
    text-align: center;
    word-wrap: break-word;
    width: 700px;
    font-size: 20px;
}

.aboba{
    margin: 0 auto;
    font-weight: 500;
    width: 1000px;
}

hr{
    height: 1px;
    width: 500px;
    background-color: black;
    opacity: 0.5;
}

.powered{
    margin: 0 auto;
    width: 440px;
    text-align: center;
}

.bg1{
    padding: 5px;
    background-color: darkorchid;
    width: 200px;
    text-align: center;
    border-radius: 15px;
}

.bg2{
    padding: 5px;
    background-color: sandybrown;
    width: 270px;
    text-align: center;
    border-radius: 15px;
}

.bg3{
    padding: 5px;
    background-color: rgb(49, 145, 89);
    width: 230px;
    text-align: center;
    border-radius: 15px;
}

.lavra:hover{
    transform: scale(1.02, 1.02);
    box-shadow: 1px 3px 35px gray;
    border-radius: 0;
    transition:all 0.3s ease-in-out;
}

.lavra_1:hover{
    transform: scale(1.02, 1.02);
    box-shadow: 1px 3px 35px gray;
    border-radius: 0;
    transition:all 0.3s ease-in-out;
}

.box:hover{
    box-shadow: 1px 3px 35px gray;
}

.columns{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* MEDIA */

@media (max-width:1050px){
    .aboba {
        width: 700px;
    }
    .box {
        width: 700px;
    }
    p{
        width: 600px;
    }
}

@media (max-width:790px){
    .box {
        width: 600px;
    }
    .aboba {
        width: 600px;
    }
    p{
        width: 500px;
    }
    .columns{
        flex-direction: column;
    }
}

@media (max-width:703px){
    .box {
        width: 500px;
    }
    .powered{
        width: 500px;
    }
    hr{
        width: 350px;
    }
    .header{
        margin: 0 auto;
    }
    .aboba{
        width: 460px;
        font-size: 16px;
    }
    p{
        width: 360px;
    }
    .lavra{
        width: 300px;
    }
    .lavra_1{
        width: 300px;
        height: 400px;
    }
}

@media (max-width:560px){
    .box {
        width: 400px;
    }
    .powered{
        width: 500px;
    }
    hr{
        width: 350px;
    }
    .header{
        margin: 0 auto;
    }
    .aboba{
        width: 460px;
        font-size: 16px;
    }
    p{
        width: 320px;
        font-size: 16px;
    }
    .bg h3{
        font-size: 20px;
    }
    .bg1{
        width: 190px;
    }
    .bg2{
        width: 190px;
    }
    .lavra{
        width: 250px;
    }
    .lavra_1{
        width: 250px;
        height: 350px;
    }
}

@media (max-width:499px){
    .box {
        width: 400px;
    }
    .powered{
        width: 350px;
        font-size: 15px;
    }
    hr{
        width: 290px;
    }
    .aboba{
        width: 460px;
        font-size: 16px;
    }
    p{
        width: 320px;
        font-size: 15px;
    }
    .bg h3{
        font-size: 20px;
    }
    .bg1{
        width: 190px;
    }
    .bg2{
        width: 190px;
    }

}

@media (max-width:475px){
    .box {
        width: 350px;
    }
    .powered{
        width: 350px;
        font-size: 15px;
    }
    hr{
        width: 320px;
    }
    .aboba{
        width: 360px;
        font-size: 14px;
    }
    p{
        width: 320px;
    }
    .bg h3{
        font-size: 20px;
    }
    .bg1{
        width: 190px;
    }
    .bg2{
        width: 190px;
    }
    .lavra{
        width: 250px;
    }
    .lavra_1{
        width: 250px;
        height: 350px;
    }
}

@media (max-width:397px){
    .box {
        width: 300px;
    }
    .powered{
        width: 330px;
        font-size: 16px;
    }
    hr{
        width: 260px;
    }
    .aboba{
        width: 360px;
        font-size: 15px;
    }
    p{
        width: 260px;
        font-size: 13px;
    }
    .bg h3{
        font-size: 20px;
    }
    .bg1{
        width: 190px;
    }
    .bg2{
        width: 190px;
    }
    .lavra{
        width: 200px;
    }
    .lavra_1{
        width: 200px;
        height: 300px;
    }
}

@media (max-width:373px){
    .box {
        width: 300px;
    }
    .powered{
        width: 290px;
        font-size: 15px;
    }
    hr{
        width: 260px;
    }
    .aboba{
        width: 300px;
        font-size: 13px;
        text-align:center;
    }
    p{
        width: 250px;
        font-size: 14px;
    }
    .bg h3{
        font-size: 20px;
    }
    .bg1{
        width: 190px;
    }
    .bg2{
        width: 190px;
    }
}

@media (max-width:315px){
    .box {
        width: 240px;
    }
    .powered{
        width: 220px;
        font-size: 13px;
    }
    hr{
        width: 200px;
    }
    .aboba{
        width: 230px;
        font-size: 15px;
        text-align:center;
    }
    p{
        width: 200px;
        font-size: 13px;
    }
    .bg h3{
        font-size: 20px;
    }
    .bg1{
        width: 190px;
    }
    .bg2{
        width: 190px;
    }
    .bg3{
        width: 190px;
    }
    .lavra{
        width: 190px;
    }

    .lavra_1{
        width: 190px;
        height: 290px;
    }
}