@font-face {
  font-family: Fifaks; 
  src: url("fonts/CustomFontTtf12H20.woff2") format("woff2"),
  url("fonts/CustomFontTtf12H20.woff") format("woff"),
  url("fonts/CustomFontTtf12H20.ttf") format("ttf");
  }
p {
  font-family: Fifaks;
}
font {
  font-family: Fifaks;
}
a {
  color: #ffffff;
}
 